

.temperature {
	font-size: 7vh;
}

.city {
	font-size: 5vh;
}

.description {
	font-size: 5vh;
}

.icon {
	margin-bottom: 1vh;
	width: 8vw;
	height: 8vw;
}

.carousel-item {
	transition: transform .8s ease;
}

.weather {
	overflow: hidden;
	height: 40vh;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}

.news {
	height: 10vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	/*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);*/
	/*backdrop-filter: blur(2.8px);*/
	/*-webkit-backdrop-filter: blur(4.8px);*/
	/*border: 2px solid rgba(0, 0, 0, 0.33);*/
}

.maps {
 
	overflow: hidden;
	max-height: 420px;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}

.media {
	overflow: hidden;
	max-height: 420px;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}



.planning {
	overflow: hidden;
	max-height: 450px;
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 0.3rem solid #4D8697;

}


.scrollable-content {
	animation: scrollAnimation 25s linear infinite;
}

.scroll-container {
	overflow: hidden;
}

.titre-planning {
	overflow: hidden;
	max-height: 50px;
}

.titre-planning img {
	max-width: 100%;
	max-height: 85px;
	object-fit: cover;
}
.social-media {
	overflow: hidden;
	padding: 10px;
	background: rgba(0, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(0, 0, 0, 0.33);
}
.insta-logo {
	
	max-height: 70px;
}
.linkedin-logo {
	margin-left: -6px;
	max-height: 88px;
}
@keyframes scrollAnimation {
	            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-50%);
            }

            100% {
                transform: translateY(-100%);
            }

}

.fancy {
	font-family: 'Work Sans', sans-serif;
	background: #4D8697;
background: linear-gradient(to right, #4D8697 0%, #bab8b6 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }

.customHtml {
    overflow: hidden;
	max-height: 420px;
	background: #4D8697;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	
}


.messagedefilant div {
	position: absolute;
	min-width: 50vw;
	/* au minimum la largeur du conteneur */
}

.messagedefilant div span,
.messagedefilant div:after {
	display: inline-block;
	font-size: 2rem;
	white-space: nowrap;
}

.messagedefilant div span {
	animation: defilement 12s infinite cubic-bezier(0, -0.04, 0, -0.04);
	background: transparent;
}

.messagedefilant div:after {
	content: attr(data-text);
	animation: defilement2 12s infinite cubic-bezier(0, -0.04, 0, -0.04);
	background: transparent;
}

@keyframes defilement {
	0% {
		margin-left: 0vw;
	}

	100% {
		margin-left: -200%;
	}
}

@keyframes defilement2 {
	0% {
		margin-left: 200%;
	}

	100% {
		margin-left: 0;
	}
}

.top-content .carousel-item {
	height: 100vh;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
