

.temperature {
	font-size: 7vh;
}

.city {
	font-size: 5vh;
}

.description {
	font-size: 5vh;
}

.icon {
	margin-bottom: 1vh;
	width: 8vw;
	height: 8vw;
}

.carousel-item {
	transition: transform .8s ease;
}

.weather {
	overflow: hidden;
	height: 40vh;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}

.news {
	height: 10vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	/*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);*/
	/*backdrop-filter: blur(2.8px);*/
	/*-webkit-backdrop-filter: blur(4.8px);*/
	/*border: 2px solid rgba(0, 0, 0, 0.33);*/
}

.maps {
 
	overflow: hidden;
	max-height: 420px;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}

.media {
	overflow: hidden;
	max-height: 420px;
	background: rgba(0, 0, 0, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 2px solid rgba(0, 0, 0, 0.33);
}



.planning {
	overflow: hidden;
	max-height: 450px;
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	border: 0.3rem solid #1b667b;

}


.scrollable-content {
	animation: scrollAnimation 25s linear infinite;
}

.scroll-container {
	overflow: hidden;
}

.titre-planning {
	overflow: hidden;
	max-height: 50px;
}

.titre-planning img {
	max-width: 100%;
	max-height: 85px;
	object-fit: cover;
}

@keyframes scrollAnimation {
	            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-50%);
            }

            100% {
                transform: translateY(-100%);
            }

}

.fancy {
	font-family: 'Work Sans', sans-serif;
	background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-size: 110% auto;
	background-position: center;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
  }

.customHtml {
    overflow: hidden;
	max-height: 420px;
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(4.8px);
	
}


.messagedefilant div {
	position: absolute;
	min-width: 50vw;
	/* au minimum la largeur du conteneur */
}

.messagedefilant div span,
.messagedefilant div:after {
	display: inline-block;
	font-size: 2rem;
	white-space: nowrap;
}

.messagedefilant div span {
	animation: defilement 12s infinite cubic-bezier(0, -0.04, 0, -0.04);
	background: transparent;
}

.messagedefilant div:after {
	content: attr(data-text);
	animation: defilement2 12s infinite cubic-bezier(0, -0.04, 0, -0.04);
	background: transparent;
}

@keyframes defilement {
	0% {
		margin-left: 0vw;
	}

	100% {
		margin-left: -200%;
	}
}

@keyframes defilement2 {
	0% {
		margin-left: 200%;
	}

	100% {
		margin-left: 0;
	}
}

.top-content .carousel-item {
	height: 100vh;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
